/* App.css */

/* Styles for the table */
.table-container {
    margin: auto;
    margin-left: 20px;
    padding-left: 20px;
  }
  
  .table {
    width: 90%;
    border-collapse: collapse;
    margin-left: 90px;
    padding-left: 50px;
    
  }
  
  .table th,
  .table td {
    
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowed content */
  }
  
  .table th {
    text-align: left;
    padding: 8px;
    background-color: #f2f2f2;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  
  }
  
  /* Styles for the modal */
  .modal-content {
    padding: 20px;
    border: 2px solid #28831f; /* Specify the border color */
    border-radius: 10px; /* Specify the border radius */
  }
  
  .modal-header {
    border-bottom: none;
   
  }
  
  .modal-title {
    margin-bottom: 20px;
  }
  
  .modal-body {
    padding-bottom: 20px;
  }
  
  .modal-footer {
    border-top: none;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  


  .btn {
    padding: 0.25rem 0.2rem; /* Adjust padding for smaller buttons */
    font-size: 0.875rem; /* Adjust font size for smaller buttons */
}

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
   
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
  

  .btn-secondary {
    background-color: #28831f;
    border-color: #35dc75;
  }
  
  .btn-secondary:hover {
    background-color: #0c7c2e;
    border-color: #1f8615;
  }
  .students-title {
    margin-top: 25px;
    text-align: center;
    font-size: 50px;
    font-weight:800;
  }