.navbar-custom {
    background-color: #0d151e;
    color: #fff;
  }
  
  .nav-link-custom {
    color: #fff !important; /* !important to override default styles */
    text-decoration: none !important;
  }
  